---
// skeleton supposed to define the framework of the page, which are the common shared parts
// for example, the HTML context except the <body> part

import "./styles/customStyles.css";
import "./styles/global.css";

const { pageTitle, siteDesc, siteIcon } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us" class="h-100">
    <head>
        <!-- <BaseHead siteTitle={ siteTitle + ' - ' + siteDesc  } siteDesc={ siteDesc } siteIcon={ siteIcon } /> -->
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href={siteIcon} />

        <!-- Primary Meta Tags -->
        <title>{pageTitle}</title>
        <meta name="title" content={pageTitle} />
        <meta name="description" content={siteDesc} />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:description" content={siteDesc} />
        <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={pageTitle} />
        <meta property="twitter:description" content={siteDesc} />
        <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->
    </head>
    <body>
        <slot />
    </body>
</html>
