---
import Skeleton from "./Skeleton.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { siteMeta, topics, topicPosts } = Astro.props;

const thisTitle = siteMeta.siteTitle + " - " + siteMeta.siteDesc;
---

<Skeleton pageTitle={thisTitle} siteDesc={siteMeta.siteDesc}>
    <Header siteTitle={siteMeta.siteTitle} topics={topics} />
    <div class="overflow-x-auto container mx-auto index-div">
        <h1 class="text-2xl font-bold my-4">{topicPosts.topicName}</h1>
        <table class="table text-lg">
            <tbody>
                {
                    topicPosts.post.map((item) => (
                        <tr class="hover">
                            <th>
                                <a href={"/post/" + item.id}>{item.title}</a>
                            </th>
                            <td>
                                {item.date} {item.time}
                            </td>
                        </tr>
                    ))
                }
                <!-- row 1 -->
            </tbody>
        </table>
    </div>
    <Footer />
</Skeleton>
